body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn{
  height: 25%;
}

.social-buttons-container {
  display: flex;
  border: solid 1px red;
  height: 100px;
  width: 50vw;
  justify-content:;
  align-items: center;

}