body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root{
  --custom-blue-color: #2dbcf3;
}

.web-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  height: 100%;
  border: solid 1px purple;
}

.product-image {
  width: 50%;
  height: auto;
}

.product-img-info-container {
  display: flex;
  justify-content: center;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  width: 50%;
}

.product-title {
  font-weight: bold;
  font-size: 25px;
}

.product-subinfo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
}

.blue-left-border{
  border-left: solid 5px blue;
}
.green-left-border{
  border-left: solid 5px green;
}

.product-info{
  display: flex;
  font-size: 20px;
  padding: 5px 0px 5px 8px;
}

.product-inner-info-name{
  color: var(--custom-blue-color);
}

.product-price{
  font-size: 28px;
  color: var(--custom-blue-color);
  font-weight: bold;
}

.add-to-cart-container{
  display: flex;
  align-items: center;
}

.product-count-selector-container{
  display: flex;
}

.count-btn{
  width: 40px;
  height: 35px;
  border: solid 1px blue;
}

.product-count{
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-card-button{
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin-left: 10px;
}

#add-to-list{
  color: green;
  font-weight: bold;

}