body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  text-align: center;
  border: solid;
}
.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 40px;
  background-color: lightgray;
  border-right: 2px solid black;
}

.tab-clicked {
  background-color: lightpink;
  border: none;
}

.last-tab {
  border: none;
}

.number-container {
  grid-template-columns: repeat(11, auto);
  grid-template-rows: repeat(13, auto);
}
