body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 30px;
}
.main-display {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px red;
  height: 60px;
  width: 600px;
  font-size: 30px;
}
.mini-display{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px blue;
  height: 40px;
  width: 500px;
  font-size: 20px;
}

.btn-wrapper{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
}

.btn {
  width: 80px;
  height: 60px;
}
